body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-Regular.otf");
}

ol,
ul {
  list-style: none;
}

.bg-color {
  height: 95vh;
  background-color: RGBA(0, 0, 0, 0.41);
}

.nav>li>a {
  padding: 0px;
}

.navbar .navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 0px;
  letter-spacing: 2px;
  height: inherit;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
 
  color: rgb(255, 230, 0) !important;
  background-color: transparent;
}
.navbar .navbar-nav>li>a {
  font-family: 'Mont' !important;
  font-size: 12px; text-shadow: 2px 2px #000000;
  font-weight: 700;
  color: whitesmoke !important;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;
}  
.navbar .navbar-nav>li>a:active {
  color: rgb(255, 230, 0) !important;
}
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
  color: rgb(255, 230, 0) !important;
}

